// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// errore sotto singolo form
.errore_nel_form{
   width: 100%;
   margin-top: 0.25rem;
   font-size: 80%;
   color: red;
}
